<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 20px;
        }

        h3 {
            color: #333;
        }

        div {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h6 {
            color: #555;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <h3>Simotap</h3>
    <div>
        <h6>Thank you for registering with us</h6>
        <h6>Please click the button below to complete your registration</h6>
        <a
            href="http://localhost:3000/auth/activate-email?email=<%= email %>&token=<%= encodeURIComponent(activationToken) %>">
            <button>Activate Account</button>
        </a>

        <h6>Your Activation Token: <%= activationToken %>
        </h6>
        <p>If you haven't registered in Simotap, kindly ignore, please.</p>
    </div>
</body>

</html>